<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT"  follow="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.playtika.testcontainer" level="info"/>
        <Logger name="org.springframework" level="error"/>
        <Root level="error">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>