name: Support Stream Branch Publish to the Maven Central Repository

on:
  workflow_dispatch:
    branches:
      - 'support/**'
    inputs:
      version:
        description: "Version to be released"
        required: true
        type: string
      branch:
        description: "Branch to be released"
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.inputs.branch}}
          token: ${{ secrets.RELEASE_PERSONAL_ACCESS_TOKEN }}

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          cache: 'maven'

      - name: Update version
        if: ${{ success() }}
        run: ./mvnw --batch-mode --no-transfer-progress versions:set -DnewVersion=${{github.event.inputs.version}} -Dgib.referenceBranch=refs/remotes/origin/${{github.event.inputs.branch}} versions:commit

      - name: Publish to the Maven Central Repository
        if: ${{ success() }}
        run: ./mvnw --batch-mode --no-transfer-progress -Dgib.disable=true -P ossrh -DskipTests deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Commit & Push changes
        if: ${{ success() }}
        uses: actions-js/push@v1.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: 'Release ${{github.event.inputs.version}}'
          branch: ${{github.event.inputs.branch}}
