name: Renovate for update docker images

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Dry-Run"
        default: false
        required: false
        type: boolean
      logLevel:
        description: "Log-Level"
        required: false
        default: 'debug'
        type: choice
        options:
          - info
          - warn
          - debug
          - error
          - fatal
    schedule:
      - cron: '0 8 * * *'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v39.0.5
        with:
          configurationFile: .github/renovate/renovate.json
          token: ${{ secrets.RELEASE_PERSONAL_ACCESS_TOKEN }}
        env:
          DRY_RUN: ${{ inputs.dryRun || 'false' }}
          LOG_LEVEL: ${{ inputs.logLevel || 'debug' }}